<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Functions</title>
    </head>
    <body>
        <p>the value: {{.}}</p>
        <p>Double: {{. | fdbl}}</p>
        <p>Square: {{. | fsq }}</p>
        <p>Double it, get squared, then take square root: {{. | fdbl | fsq | fsqrt}}</p>
    </body>
</html>
	
