<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>My own server build on top of a TCP server</title>
    </head>
    <body>
        <h1>%s page</h1>
        <a href="/">index</a><br>
        <a href="/about">about</a><br>
        <a href="/apply">apply</a><br><br>
        <form action="/apply" method="POST">
            <button type="submit">Apply</button>
        </form>
    </body>
</html>